/* Klarna */
#klarna_pay_box {
    min-width: 20em;
    margin: 1em 1em 1em 1em;
    border-radius: 0.2;
}

#klarna-payments-container {
    min-width: 20em;
    padding: 0.7;
}

#klarna_authorize_btn {
    width: 100%;
    margin-top: 1.8em;
}

.klarna-button {
    padding: 0.7em;
    border: solid 0.01em #eee;
    border-radius: 0.2em;
}

.klarna-button img {
    float: right;
}

.klarna-button p {
    color: #84bd00;
    float: right;
    display: none;
}

.klarna-button span {
    font-size: 1em;
    color: black;
}

.klarna-button input[type="radio"] {
    margin-left: 0.7em;
}