/* Table styles */
.tabulator .tabulator-tableHolder .tabulator-placeholder span {
    font-size: 0.9em;
    margin: 0em;
}

.tabulator-header-filter input {
    border: solid 0.01em #cccccc;
    height: 1.8em;
}

.tabulator-cell button {
    cursor: pointer;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.tabulator-row .tabulator-cell, .tabulator-col {
    border-right: 0.01em solid #dddddd;
}

/* Table controls */
.transactions-table-controls {
    text-align: right;
}

/* The Modal (background) */
.ckoModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.ckoModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1.2em;
    border: 0.01em solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.ckoModal .close {
    color: #aaa;
    float: right;
    font-size: 1.6em;
    font-weight: bold;
}
  
.ckoModal .close:hover,
.ckoModal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ckoAction {
    min-width: 5em;
}

.ckoSuccessMessage {
    margin-top: 1.2em;
    display: none;
}

.ckoLocked {
    text-align: center;
}