.ckoModal h1 {
    font-size: 1.4em;
}

.ckoModal .label {
    color: black;
    padding-left: 0em;
    font-size: 0.8em;
}

.ckoModal .input-row {
    margin-top: 1.4em;
    margin-bottom: 1.9em;
}

.ckoErrorMessage, .ckoInvalidAmount {
    margin-top: 1.4em;
    display: none;
}

.ckoErrorMessage .msg, .ckoInvalidAmount .msg {
    display: inline;
}