/* Style the buttons that are used to open and close the accordion panel */
.cko-apm-accordion {
  height: 60px !important;
  line-height: 60px !important;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  text-align: left;
  border: solid 1px #eee;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.cko-apm-active, .cko-apm-accordion:hover {
  background-color: #f1f1f1;
}

/* Style the accordion panel. Note: hidden by default */
.cko-apm-panel {
	display: none;
	border: solid 1px #eee;
	padding: 0 18px;
	background-color: white;
	min-height: 0;
	overflow: hidden;
	transition: min-height 0.2s ease-out;
}


#apmsBox div img {
width: 10%;
display: inline;
vertical-align: middle;
}

.hideApm{
	display:none;
}

 .apmBox{
	//width: 300px;
}


/* klarna Styles */

.klarnaForm{
	padding-top: 10px;
	min-width: 280px; 
	border-radius: 5px;
}

.klarnaContainer{
	min-width: 280px; 
	padding: 10px;
}

.klarnaButton{
	padding: 10px; 
	border: solid 0.5px #eee; 
	border-radius: 5px;
}

.klarnaButton span{
	font-size:20px;
}

.klarnaButton .klarnaBlack{
	color: black;
}

.klarnaLogo{
	margin-top: 10px; 
	float: right;
}

#klarnaConfirmBtn{
	width: 100%; 
	margin-top: 30px; 
	padding: 10px;
	font-size: 1.5em;
	/*background: #EB6F93; */
	/* border: #EB6F93; */
	display: none;
}

.klarnaAproved{
	color: #EB6F93; 
	float: right; 
	display: none;
}

.klarnaFail{
	color: #990000; 
	float: right; 
	display: none;
}