
#apmsBox h4 img {
width: 10%;
}

.hideCard{
	display:none;
}

#card_payment_box #card_schemes img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:50%;
}

#card_payment_box #dw_cardTypeDone{
	width: 2em;
	height: 2em;
	border: solid 1px none;
	position: absolute;
	margin-top: 0.5em;
	margin-left: 0.4em;
}

#card_payment_box #dw_cardTypeDone .default_thumb{
	width:100%;
}


#card_payment_box #dw_cardTypeDone .schemes_thumb{
	width:100%;
	display:none;
}
