/* Style the buttons that are used to open and close the accordion panel */
.cko-apm-accordion {
  height: 5em;
  line-height: 5em;
  background-color: #fff;
  color: #444;
  cursor: pointer;
  text-align: left;
  border: solid 0.1em #eee;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.cko-apm-active, .cko-apm-accordion:hover {
  background-color: #f1f1f1;
}

/* Style the accordion panel. Note: hidden by default */
.cko-apm-panel {
	display: none;
	border: solid 0.1em #eee;
	padding: 0 1em;
	background-color: white;
	min-height: 0;
	overflow: hidden;
	transition: min-height 0.2s ease-out;
}


#apmsBox div img {
    max-height: 100%;
    max-width: 100%;
    width: 10%;
    display: inline;
    vertical-align: middle;
}

.hideApm{
	display:none;
}

 .apmBox{
	width: 100%;
}


/* klarna Styles */

.klarnaForm{
	padding-top: 0.5em;
	border-radius: 0.1em;
}

.klarnaContainer{
	padding: 0.7em;
}

.klarnaButton{
	display: flex;
	padding: 0.7em;
	border: solid 0.1em #eee;
	border-radius: 0.1em;
}

.klarnaButton span{
	font-size: 1em;
}

.klarnaButton .klarnaBlack{
	color: black;
}

.klarnaLogo{
    margin: auto;
    margin-right: 0.5rem;
    float: right;
}

#klarnaConfirmBtn{
	width: 100%;
	margin-top: 2em;
	padding: 0.7em;
	font-size: 1.5em;
	display: none;
}

.klarnaAproved{
	color: #EB6F93;
	width: 70%;
	float: right;
	text-align: right;
	line-height: 2rem;
	display: none;
}

.klarnaFail{
	color: #990000;
	float: right;
	display: none;
}
