
#cko-sepa .cko-form-container{
	min-width: 60em;
	max-width: 100em;
	border: solid 0.1em #eee;
	border-radius: 0.5em;
	margin: auto;
	margin-top: 3em;
}

#cko-sepa .cko-form-container .cko-top{
	padding: 2em;
	text-align: left;
	min-height: 10em;
}

#cko-sepa .cko-form-container .cko-top .cko-top-title{
	font-size: 1.5em;
}

#cko-sepa .cko-form-container .cko-top .cko-sepa-creditor{
	width: 50%;
	float: left;
}

#cko-sepa .cko-form-container .cko-top .cko-sepa-debtor{
	width: 50%;
	float: right;
}

#cko-sepa .cko-form-container .cko-top .cko-sepa-creditor h2,
#cko-sepa .cko-form-container .cko-top .cko-sepa-debtor h2{
	font-size: 1.3em;
}


#cko-sepa .cko-form-container .cko-top .cko-sepa-creditor p span,
#cko-sepa .cko-form-container .cko-top .cko-sepa-debtor p span{
	font-size: 1.3em;
}


#cko-sepa .cko-form-container .cko-bottom{
	text-align: left;
}

#cko-sepa .cko-form-container .cko-bottom .cko-sepa-message{
	padding: 1.5em;
}


#cko-sepa .cko-form-container .cko-bottom .cko-sepa-tandc{
	padding: 1.5em;
}

#cko-sepa .cko-form-container .cko-bottom .cko-sepa-tandc div{
	width: 2em;
	float: left;
}


#cko-sepa .cko-form-container .cko-bottom .cko-sepa-right{
	padding: 0.5em;
	text-align: center;
	opacity: 0.3;
}

#cko-sepa .cko-sepa-button-container{
	text-align: center;
	width: 70%;
	max-width: 100em;
	min-width: 60em;
	margin: auto;
	margin-top: 4em;
}

#cko-sepa .cko-sepa-button-container .cko-button-group{
	border: none;
}

#cko-sepa .cko-sepa-button-container .cko-button-group .cko-sepa-submit-btn{
	width: 30%;
	padding: 1em;
	background: #ccc;
}

#cko-sepa .cko-sepa-button-container .cko-button-group .cko-sepa-cancel-btn{
	width: 20%;
	padding: 1em;
}
