/* klarna Styles */

.klarnaForm{
	padding-top: 0.5em;
	min-width: 30em;
	border-radius: 0.1em;
}

.klarnaContainer{
	min-width: 30em;
	width: 100%;
	min-height: 5em;
}

.klarnaButton{
	padding: 0.7em;
	border: solid 0.1em #eee;
	border-radius: 0.1em;
}

#klarna-buttons{
	margin-bottom: 2em;
}

.klarnaButton span{
	font-size: 1em;
}

.klarnaButton .klarnaBlack{
	color: black;
}

.klarnaLogo{
	margin-top: 0.7em;
	float: right;
}

#klarnaConfirmBtn{
	width: 100%;
	margin-top: 2em;
	padding: 0.7em;
	font-size: 1.5em;
	display: none;
}

.klarnaAproved{
	color: #EB6F93;
	float: right;
	display: none;
}

.klarnaFail{
	color: #990000;
	float: right;
	display: none;
}