.apm-row{
	display: flex;  
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

.apm-row .apm-row-box{
	width: 80%;
	float: left;
	line-height: 6.0625rem;
}

.apm-row .apm-row-image{
	width: 20%;
	float: right;
}

.apm-row-image img{
    width: 100%;
}