@supports (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
    }
    .apple-pay-button-black {
        -apple-pay-button-style: black;
    }
    .apple-pay-button-white {
        -apple-pay-button-style: white;
    }
    .apple-pay-button-white-with-line {
        -apple-pay-button-style: white-outline;
    }
}

@supports not (-webkit-appearance: -apple-pay-button) {
    .apple-pay-button {
        display: inline-block;
        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 0.2em;
        padding: 0em;
        box-sizing: border-box;
        min-width: 10em;
        min-height: 2.5em;
        max-height: 4em;
    }
    .apple-pay-button-black {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
    }
    .apple-pay-button-white {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }
    .apple-pay-button-white-with-line {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
        border: .5px solid black;
    }
}

/* make ApplePay button larger*/
.ckoApplePayButton {
    display: none;
    width: 9em;
    height: 3em;
}

.ckoApplePayUnavailable, .ckoApplePayIncompatible {
    display: none;
}

/* For mobile */
@media only screen and (max-width: 600px) {
    .ckoApplePayButton {
        width: 100%;
    }
}