.invalid-field-message {
    color: red;
    font-size: 0.8em;
    margin-top: 11px;
}

.is-invalid {
    border: solid 1px red;
}

.summary-details .payment-info-label {
    display: none !important;
}