#cko-card-content .tooltip {
    display: none;
}

#cko-saved-cards {
    margin-bottom: 20px;
}

#cko-saved-cards .saved-payment-instrument {
    border-bottom: solid 1px #f1f1f1;
}

.invalid-field-message {
    color: red;
    font-size: 0.8em;
    margin-top: 11px;
}

.is-invalid {
    border: solid 1px red;
}

.summary-section-label.payment-info-label {
    display: none;
}