#ckoSubmitPayment {
    margin-top: 20px;
}

#cko-card-content .tooltip {
    display: none;
}

.invalid-field-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.is-invalid {
    border: solid 1px red;
}